<div class="text-center">
<form class="form-signin" [formGroup]="LoginForm"  (ngSubmit)="Login(LoginForm.value)">
    <div class="col-md text-center mb-3">
        <a class="blog-header-logo text-dark" href="#">NY NEWS</a>
    </div>
    <h4 class="h5 mb-3 font-weight-normal">Please sign in</h4>
    <label for="inputEmail" class="sr-only">Email address</label>
    <input type="email" formControlName="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" formControlName="password" id="inputPassword" class="form-control" placeholder="Password" required>

    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    <div class="mt-4">
         <a class="mt-5" [routerLink]="['/auth/register']" >Create an account instead</a>
    </div>
  </form>
</div>
